.combos
{
    font-family:Helvetica;
    font-size:12.57px;
    font-weight:bold;
    color:White;
    }
    
    
    .totales
{
    font-family:Helvetica;
    font-size:14.67px;
    font-weight:bold;
    color:White;
    }